.signin {
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 50px;
  }
  
  .login-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    box-shadow: 1px 2px 3px rgb(88, 87, 87);
    border-radius: 5px;
  }
  
  .login-container h1 {
    margin: 20px 0px;
  }
  
  .login-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
  }
  
  .login-fields input {
    height: 65px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
  }
  
  .login-container button {
    width: 100%;
    height: 65px;
    color: white;
    background: blue;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
  }
  
  .login span {
    color: red;
    font-weight: 500;
    cursor: pointer;
    margin-left: 3px;
  }
  
  .login .sign-up {
    text-decoration: none;
  }
  
  .forerror {
    margin-top: 10px;
    color: red;
    font-size: 16px;
    font-weight: 500;
  }
  
  .login-container .forgot {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: blue;
    cursor: pointer;
  }
  form {
    margin-bottom: 10px;
  }
  